.page {
  margin-inline: auto;
  color: var(--text-color);
  font-family: var(--main-font);
  font-style: normal;
  background: var(--background);
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1024px;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  display: inline;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--accent-color-btn);
}

.header__theme-menu-button {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 1px 12.4px 5px 12.4px;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__title {
  color: var(--text-color-accent);
  font-size: var(--logo-size_mobile);
  line-height: 96px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: end;
  align-self: center;
  margin: 0px;
  color: var(--bg-color);
  line-height: 23px;
  width: 355px;
}

.title-decor {
  margin: 20px 0 10.5px 0;
  color: var(--bg-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  background-color: var(--accent-color-title);
}

.title-decor-header {
  margin: 10px 0 10.5px 0;
  color: var(--bg-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  background-color: var(--accent-color-title);
}

.decorated-zone::before {
  content: "";
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  border-right: 1px solid var(--accent-color-btn);
  border-top: 1px solid var(--accent-color-btn);
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: end;
  border-left: 1px solid var(--accent-color-btn);
  border-bottom: 1px solid var(--accent-color-btn);
  width: 25px;
  height: 25px;
}

.header__decor {
  position: absolute;
  display: var(--display-header-decor);
  justify-self: end;
  color: var(--accent-color-btn);
}

.header__decor::before {
  content: "REC";
  display: flex;
  align-items: center;
  padding: 0 2px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.header__decor::after {
  content: "";
  margin: 9px;
  border-radius: 50%;
  background-color: var(--accent-color-btn);
  width: 9px;
  height: 9px;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
  
  .header__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: var(--logo-size_desktop);
  }
  
  .header__subtitle {
    line-height: 23.4px;
    width: 384px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20px;
  }
  
  .header__title {
    line-height: 130px;
  }

  .header__subtitle {
    line-height: 23.7px;
    width: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    gap: 10px;
  }
}

.header__theme-menu-button:hover {
  border: var(--accent-color-opasity) 1px solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: currentColor 1px solid;
  outline: none;
}

.header__theme-menu-button_active {
  border: currentColor 1px solid;
  pointer-events: none;
}

.content {
  margin: 0 10px;
}

.section {
  margin: 40px 0 50px 0;
}

.section-title {
  color: var(--color-section-title);
  font-size: 18px;
  line-height: 23.4px;
}

.links {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color-title);
}

.article-decor {
  margin: 10px 0 20px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.what__title {
  max-width: 355px;
  margin-bottom: 20px;
}

.how__title {
  margin: 21px 0 0 0;
}

h4.title-decor {
  font-weight: 400;
}

@media (min-width: 768px) {
  .content {
    margin: 0 20px;
  }
  
  .section {
    margin: 60px 0 80px 0;
  }
  
  .what__title {
    max-width: 236px;
  }
  
  .how__title {
    margin: 0;
  }
  
  .section-advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    grid-auto-flow: column;
  }

  .section-content {
    display: grid;
    gap: 20.5px;
  }

  .title-decor {
    margin-block: 0px;
  }

  .article-decor {
    margin-block-end: 0px;
  }
}

@media (min-width: 1024px) {
  .content {
    margin: 0 20px;
  }
  
  .section {
    margin: 60px 0 80px 0;
  }
  
  .what__title {
    max-width: 355px;
    max-inline-size: 315px;
  }
  
  .how__title {
    margin: 41px 0 0 0;
  }
  
  .section-columns {
    display: grid;
    grid-template-columns: 315px auto;
    gap: 20px;
    grid-auto-flow: column;
  }

  .what__content.section-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.links:hover {
  border-block-end: var(--text-color) solid 1.5px;
}

.links:focus {
  outline: none;
}

.links:focus-visible {
  outline: currentColor solid 1.2px;
}

.section-gallery {
  margin-block-end: 40px;
}

.art.title-decor {
  margin-block: 20px 10px;
}

.art__gallery {
  display: grid;
  gap: 10px;
}

.art__img {
  object-fit: cover;
  inline-size: 100%;
}

@media (min-width: 768px) {
  .section-gallery {
    margin-block-end: 60px;
  }
  
  .art.title-decor {
    margin-block: 20px 20px;
  }
  
  .art__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  
  .art__img-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  
  .art__img-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
  }
  
  .art__img-tape {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 100%;
  }
  
  .art__img-books {
    grid-column: 2;
    grid-row: 2;
  }
  
  .art__img-street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (min-width: 1024px) {
  .section-gallery {
    margin-block-end: 60px;
  }
  
  .art.title-decor {
    margin-block: 20px 20px;
  }
  
  .art__img-tape {
    max-block-size: calc(100% - 5px);
  }

  .art__img-street {
    align-self: start;
    padding-block-start: 5px;
    max-block-size: calc(100% - 5px);
  }
}

.footer {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  justify-self: center;
  color: var(--text-color-accent);
  font-size: var(--logo-size_mobile);
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .footer {
    padding: 20px;
  }
  
  .footer__title {
    font-size: var(--logo-size_desktop);
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 20px;
  }
}
